<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Basic Webpage</title>
    <link rel="stylesheet" href="static/mystyle.css" />
</head>

<body>

    <ul>
        <li><a class="active">Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/contact'>Contact</a></li>
        <li><a href='/sign_up'>Sign Up</a></li>
        <li><a href='/user_detail'>Details</a></li>
    </ul>

    <h1 style="text-align:center;">Welcome to the Homepage</h1>
    <div>
        <p>This is a webpage that uses a template</p>
        <a href="/myWeb1" style="display: inline-block; padding: 0px 30px;">Glossy Touch</a>
    </div>
    <br>
    <div>
        <p>This is a webpage that uses a template</p>
        <a href="/myWeb2" style="display: inline-block; padding: 0px 30px;">Astro Motion</a>
    </div>

</body>

</html>